
<div id="<%= dom_id beer_club %>">
  <p>
    <strong>Name:</strong>
    <%= beer_club.name %>
  </p>

  <p>
    <strong>Founded:</strong>
    <%= beer_club.founded %>
  </p>

  <p>
    <strong>City:</strong>
    <%= beer_club.city %>
  </p>
 
  <p>
    <strong>Members:</strong>
      <% beer_club.memberships.filter{|m| m.confirmed}.each do |m| %>
        <br>
        <%= link_to m.user.username, m.user %>
      <% end %>
  </p>
  <p>
    <strong>Membership applications:</strong>
      <% beer_club.memberships.filter{|m| !m.confirmed}.each do |m| %>
        <br>
        <%= link_to m.user.username, m.user %> 
        <%= (link_to "Confirm", toggle_confirmation_membership_path(m.id), data: {turbo_method: "post"}, class: "btn btn-primary") if current_user.memberships.filter{|m| m.confirmed}.map{|m| m.beer_club_id}.include? beer_club.id %>
      <% end %>
  </p>
  
</div>
