<p style="color: green"><%= notice %></p>

<h1>Beer clubs</h1>

<div id="beer_clubs">
  <% @beer_clubs.each do |beer_club| %>
    <%# <%= render beer_club %>
    <p>
      <strong>Name:</strong>
      <%= beer_club.name %>
    </p>

    <p>
      <strong>Founded:</strong>
      <%= beer_club.founded %>
    </p>

    <p>
      <strong>City:</strong>
      <%= beer_club.city %>
    </p>

    <p>
      <%= link_to "Show this beer club", beer_club %>
    </p>
    <br>
  <% end %>
</div>
<br>
<%=link_to("New beer club", new_beer_club_path) if current_user %>
