<div id="<%= dom_id user %>">

  <p>
    <h2>User:</h2>
    <% if admin_user %>
      <% if user.closed %>
        <p><span class="badge bg-primary">closed</span></p>
      <% end %>
    <% end %>
    <strong><%= @user.username %></strong>
    <p>Has made <%= pluralize(user.ratings.count,'rating') %>, average rating <%= user.average_rating %></p>
  </p>

  

  <strong>Ratings</strong>
  <ul>
    <% user.ratings.each do |rating| %>
      <li> 
        <%= rating %> 
        <% if @user == current_user %>
          <%= link_to "Delete", rating, data: {"turbo_method": :delete, "turbo_confirm": 'Are you sure?'} %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <p>
    <strong>Favorite style:</strong>
    <%= user.favorite_style.name unless user.favorite_style.nil? %>
  </p>
  <p>
    <strong>Favorite brewery:</strong>
    <%= user.favorite_brewery.name unless user.favorite_brewery.nil? %>
  </p>

  
  <strong>Clubs:</strong><br>
  <% m = user.memberships.joins(:beer_club).select{|m| m.confirmed}%>
  <% if !m.empty? %>
    Member of
    <ul>
    <% m.each do |m| %>
      <li><%= link_to m.beer_club.name, m.beer_club %></li>
    <% end %>
    </ul>
    <% end %>

  
  <% m = user.memberships.joins(:beer_club).select{|m| !m.confirmed}%>
  <% if !m.empty? %>
    Applied membership of
    <ul>
    <% m.each do |m| %>
      <li><%= link_to m.beer_club.name, m.beer_club %></li>
    <% end %>
    </ul>
  <% end %>


  <%# <%= "Member of: #{user.memberships.joins(:beer_club).select{|m| m.confirmed}.map{|m| m.beer_club.name}.join(", ")}" %>





</div>
