<h1>Breweries</h1>

<br>

<% cache 'brewerylist', skip_digest: true do %>
<div class="container">
	<div class="col-sm-12 col-md-11 col-lg-9 col-xl-7">
		<h3>Active</h3>
		<p>Number of active breweries: <%= @active_breweries.count %></p>
		<div id="active_breweries">
			<table class="table table-striped table-hover">
				<thead>
				<tr>
					<th>Brewery</th>
					<th>Founded</th>
					<th>Beers</th>
					<th>Rating</th>
				</tr>
				</thead>
				<tbody>
					<%# <% @active_breweries.order(year: :desc).each do |brewery| %>
					<% @active_breweries.each do |brewery| %>
						<div id="<%= dom_id brewery %>">
						<tr>
							<td class="col-5"><%= link_to brewery.name, brewery %></td>
							<td class="col-3"><%= brewery.year %></td>
							<td class="col-2"><%= brewery.beers.count %></td>
							<td class="col-3"><%= round(brewery.average_rating) %></td>
						</tr>
						</div>
					<% end%>
				</tbody>
			</table>
		</div>

<br>

		<h3>Retired</h3>
		<p> Number of retired breweries: <%= @retired_breweries.count %> </p>
		<div id="retired_breweries">
			<table class="table table-striped table-hover">
				<thead>
				<tr>
					<th>Brewery</th>
					<th>Founded</th>
					<th>Beers</th>
					<th>Rating</th>
				</tr>
				</thead>
				<tbody>
					<% @retired_breweries.order(year: :desc).each do |brewery| %>
						<div id="<%= dom_id brewery %>">
						<tr>
							<td class="col-5"><%= link_to brewery.name, brewery %></td>
							<td class="col-3"><%= brewery.year %></td>
							<td class="col-2"><%= brewery.beers.count %></td>
							<td class="col-3"><%= round(brewery.average_rating) %></td>
						</tr>
						</div>
					<% end%>
				</tbody>
			</table>
		</div>
	</div>
</div>
<% end %>

<br>
<p>
	<% if current_user %>
		<%=link_to("New brewery", new_brewery_path, class:'btn btn-primary')%>
	<% end %>
	<%=link_to 'List of beers', beers_path, class:'btn btn-primary' %>
</p>
