<div id="<%= dom_id beer %>">
  <p>
    <div>
    <strong>Name:</strong>
	  <%=link_to beer.name, beer %>
    </div>
    <div>
    <strong>Style:</strong>
    <%= beer.style %>
    </div>
    <strong>Brewery:</strong>
	  <%=link_to beer.brewery.name, beer.brewery %>
  </p>
  
  <% if beer.ratings.empty? %>
  beer has not yet been rated!
  <% else %>
  Beer has <%= pluralize(beer.ratings.count, "rating") %> with an average of <%= beer.average_rating %>
  <% end %>

  <br>
  <br>
</div>
