

<h1>Beers</h1>

<br>

<div class="container">
  <div class="col-sm-12 col-xl-10">
    <table class="table table-striped">
      
      <thead>
      <tr>
        <th>Beer</th>
        <th>Style</th>
        <th>Brewery</th>
        <th>Rating</th>
      </tr>
      </thead>
      <tbody>
      <% @beers.each do |beer| %>
      <tr>
        <td><%= link_to beer.name, beer %></td>
        <td><%= link_to beer.style.name, beer.style %></td>
        <td><%= link_to beer.brewery.name, beer.brewery %></td>
        <td><%= round(beer.average) %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<br>
<%=link_to('New Beer', new_beer_path, class:'btn btn-primary') if current_user %>
<%=link_to 'List of breweries', breweries_path, class:'btn btn-primary' %>
